$light-blue: #d0def8;
/*bottom and mountains*/
$gradient: #e9f0ff;
/*sky and lake--used 3 gradient colors: $light-blue, $mid-gradient and $gradient*/
$mid-gradient: #dfeafc;
/*middle gradient if needed*/
$dark-green: #013d1f;
/*text on light buttons and background for pull-out paragraphs. pull-out paragraphs will have text color white*/
$text: #000000;
/*body copy*/
$shadow: #808080;
$alert: #ff0000;
/*alert button is $alert with white text*/
$button: #e1ebfe;
$st_pad: 2em;
$st_mar: 2em;
$primary-font: "Poppins", sans-serif;
$secondary-font: "Mogra", display;

@mixin MQ($canvas) {
  @if $canvas == S {
    @media only screen and (min-width: $S) {
      @content;
    }
  } @else if $canvas == M {
    @media only screen and (min-width: $M) {
      @content;
    }
  } @else if $canvas == L {
    @media only screen and (min-width: $L) {
      @content;
    }
  }
}

/*breakpoints--see media queries*/
$S: 768px;
$M: 1024px;
$L: 1600px;

html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
  background-color: $light-blue;
}

* {
  box-sizing: border-box;
}

// Wrap the page-wrapper content
html {
  height: 100%;
}

/*for when the background image ends*/
body {
  color: $light-blue;
  min-height: 100%;
  background-image: url(./images/background.svg);
  background-repeat: no-repeat;
  background-size: contain;
  position: relative;
  z-index: -10;
}

@media only screen and (min-width: 2200px) {
  body {
    background-size: cover;
  }
}

.extra1 {
  background-image: url(./images/clouds.svg);
  background-repeat: no-repeat;
  position: absolute;
  top: 80px;
  left: 50px;
  z-index: -5;
  height: 150px;
  width: 33%;
  animation: animate-clouds 15s linear infinite alternate;
}

/*branding*/
header {
  background-color: transparent;
  font-family: $secondary-font;
}

.page-wrapper {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: minmax(1em, auto);
  grid-template-areas:
    "zen-intro"
    "aside"
    "explanation"
    "participation"
    "benefits"
    "requirements"
    "footer";
}

.sky,
.ground {
  z-index: 0;
}

.sky {
  position: relative;
}

.ground {
  margin: 0;
}

.clouds {
  z-index: 2;
  position: absolute;
  top: 30px;
  left: 50px;
  width: 33%;
  animation: animate-clouds 15s linear infinite alternate;
}

.mountains {
  position: absolute;
  left: 0;
  top: 200px;
  z-index: 5;
}

.lake {
  position: absolute;
  left: 0;
  top: 350px;
  z-index: 5;
}

@keyframes animate-clouds {
  from {
    transform: translateX(0%);
  }

  to {
    transform: translateX(190%);
  }
}
/*end background*/

/*Typography*/
h1,
h2 {
  font-family: $secondary-font;
  color: $dark-green;
}

h1 {
  font-size: 3rem;
  line-height: 1.2;
  margin: 0 0 0.4em;
  text-transform: uppercase;
}

header h2 {
  font-size: 2.5rem;
  margin: -0.5em 0;
}

h3 {
  font-size: 1.75rem;
}

section > h2::before {
  /* number before each section title */
  color: darken($dark-green, 15%);
}

p {
  font-size: 1.2rem;
  line-height: 1.5;
  font-family: $primary-font;
}

a {
  color: $dark-green;
  text-decoration: none;
  margin-top: 1em;
}

li {
  list-style: none;
  font-family: $primary-font;
  margin-top: 1em;
}

a:hover {
  color: $dark-green;
  text-decoration: underline;
}

a:visited {
  color: $shadow;
}

/*page*/
.intro p a {
  color: $dark-green;
}

.intro p a:hover {
  text-decoration: underline;
}

#zen-intro {
  padding: 2em;
  grid-area: zen-intro;
  color: $dark-green;
}

header {
  background-color: transparent;
  padding: 2em;
  margin: 2em;
  margin-left: 240px;
  position: relative;
  &::before {
    content: "";
    background-image: url(./images/logo.svg);
    background-repeat: no-repeat;
    position: absolute;
    top: 60px;
    left: -200px;
    z-index: 100;
    width: 200px;
    height: 100px;
  }
}

#zen-summary,
#zen-preamble {
  background-color: transparent;
  color: $text;
  margin: 2em;
}

@media only screen and (min-width: 48em) {
  h1 {
    font-size: 3.2rem;
  }
}
@media only screen and (min-width: 48em) {
  h2 {
    font-size: 1.8rem;
    margin: 1em 0 1.4em;
  }
}
@media only screen and (min-width: 48em) {
  p {
    font-size: 1.6rem;
    line-height: 1.6;
  }
}

/*medium*/
@media only screen and (min-width: 64em) {
  /*or 1024 px*/
  .cd-logo {
    width: 180px;
  }
  h1 {
    font-size: 4rem;
  }

  .main {
    display: grid;
    grid-template-columns: 25% 1fr;
    grid-column: 1/-1;
  }

  .page-wrapper {
    grid-template-columns: 25% 1fr;
    grid-template-areas:
      "aside zen-intro"
      "supporting supporting";
  }
}

#zen-explanation,
#zen-participation,
#zen-benefits,
#zen-requirements {
  display: block;
  background-color: transparent;
  color: $text;
  padding-bottom: 2em;
  grid-column: 2;
  a {
    color: black;
  }
  p {
    padding: 0 60px;
  }
  h3 {
    color: $text;
    font-family: $secondary-font;
    font-size: 2em;
    text-align: center;
    padding: 20px;
    margin-bottom: 0;
  }
  &:hover {
    color: white;
    background: $dark-green;
    a {
      color: rgb(91, 178, 250);
    }
    h3 {
      color: white;
    }
  }
}

#zen-requirements {
  margin-bottom: 20px;
}

footer {
  display: block;
  background: $dark-green;
  color: white;
  width: 100%;
  height: 3em;
  padding: 1em 1em;
  grid-column: 1/-1;
  a {
    color: $light-blue;
    &:hover {
      color: white;
    }
  }
}

aside {
  background-color: transparent;
  color: $text;
  grid-area: aside;
  h3 {
    font-family: $secondary-font;
    font-size: 1.5em;
  }
}

// Main Navigation

.design-selection,
.design-archives,
.zen-resources {
  color: $text;
  padding-right: 2em;
  font-family: $secondary-font;
  font-size: 1.2em;
  p {
    padding-left: 2em;
    padding-right: 2em;
    padding-bottom: 2em;
  }
  h3 {
    color: $dark-green;
    font-family: $secondary-font;
    font-size: 1.5em;
    padding-left: 2em;
    margin-bottom: 0;
    padding: 20px 2em;
  }
}

.design-archives h3,
.zen-resources h3 {
  margin-top: 0;
}

.design-selection h3:hover + nav,
.design-archives h3:hover + nav,
.zen-resources h3:hover + ul {
  display: block;
}

.design-selection nav,
.design-archives nav,
.zen-resources ul {
  display: none;
  margin-top: 0;
  color: $dark-green;
}

.design-selection nav ul,
.design-selection nav ul li:first-child,
.design-archives nav ul,
.design-archives nav ul li:first-child,
.zen-resources ul,
.zen-resources ul li:first-child {
  margin-top: 0;
  margin-bottom: 0;
}

.design-selection nav:hover,
.design-archives nav:hover,
.zen-resources ul:hover {
  display: block;
}
